html, body, #root, .App {
  height: 100%;
}

.App {
  display: flex;
  zoom: 0.9;
}

.App .MuiButton-startIcon {
  /* display: inherit; */
  margin-left: 0;
  margin-right: 0;
}
.App .faded-font {
  color: #00000099;
}
.App .desc-section {
  flex-basis: 25%;
  background-color: #faf6f5;
  padding: 0 30px 30px;
}
.App .desc-section h2 {
  margin-top: 20px;
}
.App .desc-section p {
  margin-bottom: 30px;
  font-size: 1.1em;
}
.App .desc-section .img-body {
  display: flex;
  justify-content: flex-end;
}
.App .desc-section .img-body img {
  position: relative;
  left: 5vw;
  width: 28vw;
}

.App .input-field {
  margin-top: 20px;
}
.App .main-section {
  flex-basis: 75%;
}
.App .main-section a {
  color: #068bc9;
  text-decoration: none;
}
.App .main-section .lang {
  text-align: right;
  zoom: 0.85;
  margin-top: 20px;
  margin-bottom: 30px;
}
.App .main-section .alt-or {
  width: inherit;
  text-align: center;
}
.App .main-section .main-section-signup {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  padding-right: 30px;
}
.App .main-section .main-section-signup .social-sign-up {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.App .main-section .main-section-signup .social-sign-up button {
  margin-right: 15px;
}

.App .main-section .main-section-signup .social-sign-up .btn-span {
  text-transform: initial;
}

.App .main-section .main-section-signup .social-sign-up .fb {
  color: #425390;
  background-color: #f2f2f2;
  border-radius: 4px;
}
.App .main-section .main-section-signup .social-sign-up .apple {
  background-color: #f2f2f2;
  border-radius: 4px;
}
.App .main-section .main-section-signup .check-box-body {
  white-space: inherit;
  margin-top: 12px;
  display: flex;
  align-items: end;
}

.PrivateSwitchBase-root-2 {
  padding: 0;
}

.App .main-section .main-section-signup .submit button {
  background-color: #f16a43;
  color: white;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 12px;
}

.App ul#strengthBar {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: 2px;
}
.App .point:last {
  margin: 0 !important;
}
.App .point {
  background: #ddd;
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  margin-right: 1px;
  width: 24%;
}


@media (max-width: 640px) {
  .App {
    flex-direction: column;
 }
  .App .desc-section {
    flex-basis: 25%;
    background-color: #faf6f5;
    padding-bottom: 86px;
 }
  .App .desc-section p {
    display: none;
 }
  .App .desc-section .img-body {
    display: flex;
    justify-content: center;
 }
  .App .desc-section .img-body img {
    position: absolute;
    left: inherit;
    top: 20px;
    width: 189px;
 }
  .App .main-section .lang {
    display: none;
 }
  .App .main-section .main-section-signup {
    margin-top: 77px;
    padding-right: inherit;
    width: 90%;
 }
}
@media (max-width: 850px) {
  .signup-body .desc-section .img-body {
    justify-content: flex-end;
 }
 .signup-body .desc-section .img-body img {
    left: 7vw !important;
 }
}

